@model  ICollection<BettingSystem.Web.Mvc.Models.Match>

@{
    ViewBag.Title = "Home Page";
}

@{

    foreach (BettingSystem.Web.Mvc.Models.Match match in Model)
    {
        <h2>@match.Name</h2>
        foreach (BettingSystem.Web.Mvc.Models.Bet bet in match.Bets)
        {
            <p>@bet.Name</p>
            <table>
                @{
                    foreach (BettingSystem.Web.Mvc.Models.Odd odd in bet.Odds)
                    {
                        <tr><td>@odd.Name</td><td>@odd.Value</td></tr>
                    }
                }
            </table>
        }
    }
}